.hola-conteiener{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.hola-title{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 2.7rem;
    margin-top: 5rem;
    padding-bottom: 1rem;
    font-size: 3rem;
    
} & .title-underline{
        width: 15rem;
        background-color: #212121;
        height: 2px;
        margin-top: 40px;
        margin-bottom: 30px;
        border-radius: 20%;
    }
    

.hola-title h2 {
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 400;
    margin-right: 3rem;
    
}

.hola-description{
    margin-left: 3rem;
    margin-right: 3rem;
    margin-top: 1rem;
}

.hola-description h1 {
    margin-bottom: 10px;
    font-size: clamp(1.0rem, 0.9509rem + 0.6625vw, 1.5rem);
}

.hola-description h2  {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    margin-bottom: 10px;
    font-size: clamp(1.0rem, 0.9509rem + 0.6625vw, 1.5rem);
  }

@media (max-width: 800px){

    .hola-title{
        font-size: clamp(1.3rem, -0.1193rem + 6.2385vw, 3rem);
    }

}