.hola-conteiener {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.hola-header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    font-size: 3rem;
    margin-top: 3rem;
    width: 100%;

}



& .title-underline {
    width: 15rem;
    background-color: #212121;
    height: 2px;
    margin-top: 40px;
    margin-bottom: 30px;
    border-radius: 20%;
}


.hola-header h2 {
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 400;
    margin-right: 3rem;

}

.hola-atom

.hola-description {
    margin-left: 3rem;
    margin-right: 3rem;
    margin-top: 1rem;
}

.hola-description h1 {
    margin-bottom: 10px;
    font-size: clamp(1.0rem, 0.9509rem + 0.6625vw, 1.5rem);
}

.hola-cv {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    width: 10rem;
    text-align: center;
    background-color: #BDBDBD;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
}

.hola-cv:hover {
    background: #212121;
    color: #f8f8f8;
}

.hola-cv span {
    background-color: #BDBDBD;
    font-family: 'Noto Sans JP', sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
}

.hola-cv a {
    text-decoration: none;
    color: #212121;
    background-color: #BDBDBD;
    padding: 0.6rem;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
}

.hola-cv span:hover {
    background: #212121;
    color: #f8f8f8;
}

.hola-cv a:hover {
    background: #212121;
    color: #f8f8f8;
}

.hola-description h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    margin-bottom: 10px;
    font-size: clamp(1.0rem, 0.9509rem + 0.6625vw, 1.5rem);
}

@media (max-width: 800px) {

    .hola-header {
        font-size: clamp(1.3rem, -0.1193rem + 6.2385vw, 3rem);
    }

}