.proyectos-container {
  position: relative;
  height: 300vh;
  background-color: #1a202c; /* bg-neutral-900 */

}


.carousel {
  position: sticky;
  top: 0;
  display: flex;
  height: 100vh;
  align-items: center;
  overflow: hidden;
}

.cards-container {
  display: flex;
  gap: 16px; /* gap-4 */
}

.card {
  position: relative;
  height: 450px;
  width: 450px;
  overflow: hidden;
  display: flex;
  flex-direction: column-reverse;

}

.card-image {
  position: absolute;
  inset: 0;
  z-index: 0;
  background-size: cover;
  background-position: center;
  transition: transform 0.3s;
}

.card:hover .card-image {
  transform: scale(1.1);
}

.card-title {
  background-color: transparent;
  inset: 0;
  z-index: 10;
  display: grid;
  place-content: center;    
}

.card-title p {
  background: linear-gradient(to bottom right, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0));
  font-size: 25px; 
  font-weight: 500;
  font-family: 'Montserrat';
  text-transform: uppercase;
  color: #212121;
  backdrop-filter: blur(10px);
}

.project-description{
width: 100%;
position: fixed;
bottom: clamp(0.0625rem, 0.4585rem + -1.7598vw, -1rem);
text-align: center;
padding-left: 10rem;
padding-right: 10rem;
margin-bottom: 3rem;
font-size: 1rem;
}

@media (max-width: 700px){
  .project-description{
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}